<p-toast position="bottom-right"></p-toast>

<div class="p-grid p-fluid p-mb-2">
    <div class="p-col-6">
        <button (click)="party()" pButton pRipple type="button" class="button-label-uncentered"><mat-icon>celebration</mat-icon><span class="label-centered">PARTY</span></button>
    </div>
    <div class="p-col-6">
        <button (click)="film()" pButton pRipple type="button" class="button-label-uncentered"><mat-icon>videocam</mat-icon><span class="label-centered">FILM</span></button>
    </div>
    <div class="p-col-6">
        <button (click)="karl()" pButton pRipple type="button" class="button-label-uncentered"><mat-icon>child_care</mat-icon><span class="label-centered">KARL</span></button>
    </div>
    <div class="p-col-6">
        <button (click)="bright()" pButton pRipple type="button" class="button-label-uncentered"><mat-icon>wb_sunny</mat-icon><span class="label-centered">WEIß</span></button>
    </div>
</div>