nav ul a,
nav .brand-logo {
  color: #444;
}

.row .col.s3 {
  width: 0;
}

.btn, .tabs {
  margin-bottom: 20px;
}

.tabs, .tab {
  min-width: 250px;  
}
.tabs, .tab {
  min-width: 180px;  
}


.btn {
  width: 100%;
}

#simple_pattern {
  width: 300px;
}

@media only screen and (min-width:200px) and (max-device-width : 600px) {
  .IroWheel, .IroSlider {
    margin: auto;
  }
  #usercolors_led_split {
    margin: auto;
  }
}  
@media only screen and (min-width : 601px) {
  .IroWheel, .IroSlider {
    margin: 6;
  }
}

#usercolors_led_split {
  padding-top: 5px;
  min-width: 255px;
  max-width: 255px;
  min-height: 80px;
  max-height: 80px;
}

.usercolors_led_split_button {
  width: 28px;
  height: 28px;
  margin-left: 3px;
  border-radius: 15px;
}
.usercolors_led_split_button:hover {
  cursor: pointer;
}

#led_speed_slider_field {
  margin: 0;
}

span.thumb {
  display: none;
}
