<div class="p-grid p-fluid p-mb-2">
    <div class="p-col-12">
        <button (click)="request('OFF')" pButton pRipple type="button" class="button-label-uncentered">
            <mat-icon>flash_off</mat-icon><span class="label-centered">AUSSCHALTEN</span>
        </button>
    </div>
    <div class="p-col-6">
        <button (click)="request('DISCO')" pButton pRipple type="button" class="button-label-uncentered">
            <mat-icon>looks</mat-icon><span class="label-centered">DISCO</span>
        </button>
    </div>
    <div class="p-col-6">
        <button (click)="request('POLICE')" pButton pRipple type="button" class="button-label-uncentered">
            <mat-icon>local_police</mat-icon><span class="label-centered">POLIZEI</span>
        </button>
    </div>
    <div class="p-col-6">
        <button (click)="request('RANDOM')" pButton pRipple type="button" class="button-label-uncentered">
            <mat-icon>casino</mat-icon><span class="label-centered">ZUFALL</span>
        </button>
    </div>
    <div class="p-col-6">
        <button (click)="request('STROBE')" pButton pRipple type="button" class="button-label-uncentered">
            <mat-icon>bolt</mat-icon><span class="label-centered">STROBO</span>
        </button>
    </div>
</div>
